body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: silver;
    
}
.digit{
    font-size: 100px;
    font-weight: bold;
}
.txt{
    font-size: 30px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: aliceblue;
    border: 0px;
    cursor: pointer;
}
#start{
background-color: forestgreen;
}

#stop{
    background-color: crimson
}

#restart{
    background-color: rgb(64, 30, 216);;
}